# 复制本文件为 keystore.properties（不要提交到 git）
# release.storeFile=..\\keystore\\ccpet-release.keystore
# release.storePassword=YOUR_PASSWORD
# release.keyAlias=YOUR_ALIAS
# release.keyPassword=YOUR_PASSWORD

